<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943961182072-ekk929orim5lrvg23cdt9mnpd6c28i6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943961182072-ekk929orim5lrvg23cdt9mnpd6c28i6e</string>
	<key>API_KEY</key>
	<string>AIzaSyAPx0nbdYWrajGoOIJWAGW58RvIkCDt7ms</string>
	<key>GCM_SENDER_ID</key>
	<string>943961182072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.domain.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-bas</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-bas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943961182072:ios:73d66daebe5e784511c28d</string>
</dict>
</plist>